body{
  background-image: linear-gradient(to bottom, #ff0000,#000000,#000000,#ff0000);
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

main{
  background-color: transparent;
  max-width: 1346px;
  margin: auto;
  margin-bottom: 7px;
  padding:10px;
}

.container1 > header{
  margin-top:-10px;
  height: 156px;
  padding: 10px;
  max-width: 1000vw;
  min-width: none;
  background-color: #000000;
  color: aliceblue;
  text-align: center;
  font-size: 30px;
}

h1{
  margin-top:1px;
  height: 130px;
}

p.main1{
 margin-top:131px;
 text-align: center;
 color: aliceblue;
 font-weight: bold;
 font-size: 30px;
 line-height: 1.5em;
}

p.footer1{
  margin: auto;
  color: aliceblue;
  text-align: center;
  font-size: 20px;
}

a{
  text-decoration: none;
  color: aliceblue;
}

a:hover{
  color: #6e6c6ccb;
  transition: 0.5s;
}

